body{
    background-color: darkkhaki;
}

main{
    
    margin: 20px 30px;
    /* background-color: rgb(95, 88, 93); */
}


.banner-container{
    background-color: rgb(136, 196, 196);
    display: flex;
    height: 560px;
    width: 1280px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 50px;
   
}
.banner-material{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.banner-description-part{
    /* border: 5px solid red; */
    height: 326px;
    width: 622px;
}
.banner-description-part P{
    text-transform: capitalize;
    margin-top: 3px;
   margin-top: 0;
   line-height: 16px;
   color: rgb(99, 96, 96);
   font-weight: bold;
}
.banner-description-part h1{
    font-size: 60px;
    margin-bottom: 8px;
   margin-top: 0;
}
.btn-1{
    height: 56px;
    width: 270px;
    background-color: rgb(8, 46, 8);
    text-transform: capitalize;
    color: white;
    border-radius: 5px;
    line-height: 24px;
}
.btn-1:hover{
    background-color: crimson;
}
.banner-image-part{
    /* border: 2px solid blue; */
    height: 400px;
    width: 474px;
}


/* part----2 */

.pillars-title{
    text-transform: capitalize;
    height: 48px;
    width: 1280px;
    font-size: 40px;
    margin-bottom: 32px;
   
}
.section-container-2{
    margin-bottom: 80px;
    background-color: rgb(223, 219, 214);
    height: 368px;
    width: 1280px;
    align-items: center;
}

.sub-container{
    height: 300px;
    width: 1280px;
    /* border: 5px solid red; */
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
   
   
}
.card{
    /* border: 5px solid green; */
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    height: 244px;
    width:302px;
}
.card-title{
    text-transform: capitalize;
    line-height: 0;
}

/* the vision future part start ......section-3*/
.future-title{
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 0;
}
.furute-vision-part{
    width: 1280px;
    height: 120px;
    margin-bottom: 70px;
}
.furute-vision-part p{
   padding-right: 10px;
   margin-bottom: 20px;
}

.section-container-3{
    background-color: rgb(209, 203, 203);
    height: 900px;
    width: 1280px;
}

/* ................close.........upper part.................. */

.sec-3-mid-container-card{

    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    /* width: 410px;
    height: 325px; */
   
}
.future-vision-card-1{
 
    background-color: rgb(233, 201, 149);
    padding: 15px;
    border-radius: 10px;
    
}
.future-vision-card-2{
 
    background-color: rgb(143, 207, 151);
    padding: 15px;
    border-radius: 10px;
}
.future-vision-card-3{
 
    background-color: rgb(82, 165, 190);
    padding: 15px;
    border-radius: 10px;
}
.sec-3-mid-btn-1{
    height: 41px;
    width: 122px;
    text-transform: capitalize;
    background-color: rgb(216, 137, 73);
    border-radius: 10px;
    color: white;
}
.sec-3-mid-btn-1:hover{
    background-color: blue;
    color: white;
}
.sec-3-mid-btn-2{
    height: 41px;
    width: 122px;
    text-transform: capitalize;
    background-color: rgb(53, 216, 80);
    border-radius: 10px;
    color: white;
}
.sec-3-mid-btn-2:hover{
    background-color:rgb(95, 11, 18);
    color: white;
}
.sec-3-mid-btn-3{
    height: 41px;
    width: 122px;
    text-transform: capitalize;
    background-color: rgb(73, 123, 216);
    border-radius: 10px;
    color: white;
}
.sec-3-mid-btn-3:hover{
    background-color: rgb(21, 23, 24);
    color: white;
}

/* ........close.......middle part......section-3  */

.yunus-sorkar{
    width: 1280px;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 200px;
    
}
.parent-image{
    width: 1231px;
    height: 160px;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;

  
}

.quotetion-image{
   padding-top: 11px;

}
.quotetion-image p{
    margin-bottom: 0;
}
.quotetion-image h3{
    margin-bottom: 0;
    line-height: 0;
}

/* ........close.....Dr.mohammad yunus */
.section-4-oponion-matter{
    margin-top: 50px;
    width: 1280px;
    height: 481px;
    background-color:rgb(194, 188, 188) ;
    /* border: 2px solid red; */
    margin-bottom: 50px;
}
.opinion-matter{
    font-size: 50px;
    text-transform: capitalize;
    margin-top: 20px;
    /* line-height: 0; */
}
.parent-opinionp-natter{
    width: 1280px;
    height: 409px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.nav-with-table{
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.table-container{
    width: 1216px;
    height: 345px;
    /* border: 2px solid red; */
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(177, 221, 221);
    width:1216px ;
    height:72px ;
}
nav li{
    list-style: none;
    padding: 20px 10px;
    text-transform: capitalize;
    font-size: 30px;
}
table{
    width:1216px ;
    height:96px;
    border-collapse: collapse;
}
tr,td{
    border: 2px solid orangered;
    font-size: 30px;
    padding: 20px 20px;
}
table td button{
    font-size: 20px;
    width: 200px;
    margin-left: 100px;
    padding: 10px 5px;
    background-color: rgb(189, 194, 194);
    border-radius: 10px;

}

/* ...........close opinion part */


/* satellite part close */

.section-6-donate-part{
    width: 1280px;
    height: 464px;
    background-color: rgb(237, 243, 243);
    margin-bottom: 50px;
}
.description{
    width: 1280px;
    height: 120px;
    text-align: center;

}
.description h1{
font-size: 50px;
text-transform: capitalize;
margin-bottom: 0;


}
.description p{
    padding: 0 150px;
}

.money-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.box{
    border: 1px solid green;
    width: 240px;
    height: 128px;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    padding: 5px;
    border-radius: 10px;

}
.box:hover{
    background-color: crimson;
}
.box-1{
    border: 1px solid green;
    width: 240px;
    height: 128px;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    padding: 5px;
    background-color: rgb(79, 202, 202);
    border-radius: 10px;

}
.box-1:hover{
    background-color: orange;
}
.inpur-donate{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.input-part{
    text-align:center ;
   
}
.input-part button{
    width: 1032px;
    height: 56px;
    text-align: center;
   
}
.input-part button p{
    font-size: 20px;
    text-transform: capitalize;
    opacity: 0.30;
}

.button-donate button{
    text-align: center;
    text-transform: capitalize;
    background-color: blueviolet;
    height: 56px;
    width: 151px;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
    
}
.button-donate button:hover{
    background-color: darkgreen;
}

/* ...........donate part close */

.subcribe-part{
    width: 1280px;
    height: 395px;
    background-color: rgb(180, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.sub-parent{
    width: 750px;
    height: 235px;
    /* border: 2px solid red; */
    
}
.letter{
    text-transform: capitalize;
    font-size: 50px;
    margin-top: 4px;
    margin-bottom: 0;
}
.news-letter{
    text-align: center;
}
.button-div{

}
.btn-last-1{
    width: 550px;
    height: 55px;
    margin-left: 10px;
    
}
.btn-last-1 p{
    font-size: 15px;
    opacity: 0.3;
}
.btn-last-2{
    width: 150px;
    height: 56px;
    background-color: darkgreen;
    
    
    color: white;
}
.btn-last-2:hover{
    background-color: gold;
}
.last-text{
    text-align: center;
  margin-top: 10px;
}

/* .................subcrible close................... */
.footer-parent{

    width: 1300px;
    height: 355px;
    background-color: rgb(233, 227, 225);
    /* border: 2px solid red; */
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    width: 750px;
    height: 225px;
    /* background-color: blanchedalmond;
    border: 2px solid yellowgreen; */
    text-align: center;
}
.foot-title{
    text-transform: capitalize;
    font-size: 50px;
}
.icons img{
margin-right: 20px;
font-size: 50px;
}






/* .............alll colse.............. */

.satelite-parent h1{
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 0;

}

.section-5recent-news{
    width: 1280px;
    height: 500px;
    background-color: rgb(199, 186, 166);
    margin-bottom:100px;
    

}
.parent-div{
    background-color: rgb(252, 246, 249);
    width: 1280px;
    height: 402px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    border-radius: 10px;
}
.image-section{
    width: 1200px;
    height: 390px;
    /* background-color: white; */
    display: flex;
    gap: 20px;
  

}
.image-div img{
    width: 408px;
    height: 306px;
    border-radius: 20px;

}
.description-div{
    width: 744px;
    height: 290px;
    /* border: 2px solid yellowgreen; */
}
.description-div h1{
    text-transform: capitalize;
    font-size: 50px;
    margin-top: 0;
}
.satelite-button{
    text-transform: capitalize;
    background-color: green;
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 10px;
} 
.satelite-button:hover{
    background-color: crimson;
}
span{
    margin-right: 20px;
}